@model Article

<div class="tm-post-col">
    <form asp-controller="Articles" asp-action="Edit">
        <input type="hidden" name="Id" value="@Model.Id" />
        <span asp-validation-for="Headline" style="color:red;"></span>
        <label asp-for="Headline"></label>
        <input value="@Model.Headline"
               type="text"
               asp-for="Headline"
               class="form-control"
               aria-label="Headline"
               aria-describedby="basic-addon1" />

        <span asp-validation-for="ShortDescription"></span>
        <label asp-for="ShortDescription"></label>
        <textarea asp-for="ShortDescription"
                  class="form-control">@Model.ShortDescription</textarea>

        <span asp-validation-for="Text"></span>
        <label asp-for="Text"></label>
        <textarea asp-for="Text"
                  class="form-control">@Model.Text</textarea>

        <span asp-validation-for="PictureLink"></span>
        <label asp-for="PictureLink"></label>
        <input value="@Model.PictureLink"
               type="text"
               asp-for="PictureLink"
               class="form-control"
               aria-label="PictureLink"
               aria-describedby="basic-addon1" />
        <br>
        <label asp-for="Category"></label>:
        <select asp-for="CategoryId" asp-items="ViewBag.Categories"></select><br />
        <button type="submit" class="btn btn-primary">Закончить редактирование</button>
    </form>
</div>